html, body {
    height: 100%;
    overflow: hidden;
}

.claptrap-logo {
    height: 400px;
    margin-top: 20rem;
}


.full-height {
    height: 100%;
}

.environment-list {
    overflow-y: scroll;
    padding-top: 1.4rem;
}

.environment-square {
    background-color: #fff;
    height: 50px;
    width: 50px;
    opacity: .7;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
}

.environment-square-selected {
    border: solid 1px #9f53c6;
    opacity: 1;
}

.environment-square h1 {
    padding-top: 7px;
    font-size: 30px;
    font-weight: 300;
}

.email-list {
    overflow-y: scroll;
    padding-left: 0;
    padding-right: 0;
}

.email-list-item {
    cursor: pointer;
    border-radius: 0 !important;
}

.email-list-item:hover {
    background-color: #f8f8f8;
}

.email-list-item-selected {
    background-color: rgba(0, 123, 255, 0.20);
}

.email-list-item-selected:hover {
    background-color: rgba(0, 123, 255, 0.20);
}

.email-viewer-header {
    border-bottom: #000 solid 1px;
}

.email-viewer-iframe {
    border: none !important;
    width: 100%;
    height: 100%;
}

ul.contacts li:after {
    content: ", ";
}

ul.contacts li:last-child:after {
    content: "";
}
